<%= form_with model: @link do |form| %>
  <div>
    <%= form.label :url %><br>
    <%= form.url_field :url, { 
      placeholder: "URL", 
      required: true, 
      maxlength: Link::MAX_LENGTH, 
      minlength: Link::MIN_LENGTH,
      size: 25
    } %>

    <% @link.errors.full_messages_for(:url).each do |message| %>
      <div><%== message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
